#
# Ignore certain files from the release archives.
#
/.travis.yml export-ignore
/phpcs.xml.dist export-ignore

#
# Auto detect text files and perform LF normalization
# https://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
#
* text=auto

#
# The above will handle all files NOT found below
#
*.md text
*.php text
*.inc text
