/* -------------------------------------------------------------------------- */

/*	Twenty Twenty Editor Styles — Classic Editor
/* -------------------------------------------------------------------------- */

/* Structure --------------------------------- */

body#tinymce.wp-editor {
	background: #f5efe0;
	color: #1a1b1f;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	margin: 0 auto;
	max-width: 100%;
	width: 580px;
}

body#tinymce.wp-editor * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body#tinymce.wp-editor p,
body#tinymce.wp-editor ul,
body#tinymce.wp-editor ol,
body#tinymce.wp-editor blockquote {
	line-height: 1.5;
	margin-bottom: 1.5em;
}

body#tinymce.wp-editor code,
body#tinymce.wp-editor kbd,
body#tinymce.wp-editor pre,
body#tinymce.wp-editor samp {
	color: inherit;
	font-size: 0.9em;
}

body#tinymce.wp-editor pre {
	border: 1px solid #e1e1e3;
	line-height: 1.5;
	margin: 40px 0;
	overflow: auto;
	padding: 30px;
	text-align: left;
}

body#tinymce.wp-editor a,
body#tinymce.wp-editor a:hover {
	color: inherit;
	text-decoration: underline;
}

body#tinymce.wp-editor img {
	height: auto;
	max-width: 100%;
}

body#tinymce.wp-editor img[data-wp-more] {
	height: 16px;
}

body#tinymce.wp-editor hr {
	border: none;
	border-top: 1px solid #e1e1e3;
	margin: 2em auto;
	width: 100%;
}

body#tinymce.wp-editor dt {
	font-weight: 600;
}

body#tinymce.wp-editor dd {
	line-height: 1.5;
}

body#tinymce.wp-editor dd + dt {
	margin-top: 1.5rem;
}


/* Titles ------------------------------------ */

body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6 {
	font-feature-settings: "lnum";
	font-variant-numeric: lining-nums;
	font-weight: 700;
	letter-spacing: -0.005em;
	line-height: 1.25;
	margin: 50px 0 30px;
}

body#tinymce.wp-editor h1 {
	font-size: 48px;
}

body#tinymce.wp-editor h2 {
	font-size: 40px;
}

body#tinymce.wp-editor h3 {
	font-size: 32px;
}

body#tinymce.wp-editor h4 {
	font-size: 24px;
}

body#tinymce.wp-editor h5 {
	font-size: 21px;
}

body#tinymce.wp-editor h6 {
	font-size: 1em;
}


/* Blockquote -------------------------------- */

body#tinymce.wp-editor blockquote {
	border-style: solid;
	border: none;
	border-left: 4px solid #cd2653;
	margin: 0 0 1.6em 0;
	padding: 0.25em 0 0.25em 1em;
}

body#tinymce.wp-editor blockquote p {
	font-style: normal;
	font-weight: 400;
	margin: 0;
}

body#tinymce.wp-editor blockquote cite {
	display: block;
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	margin-top: 1em;
}


/* Lists ------------------------------------- */

body#tinymce.wp-editor ul {
	margin-left: 1.5em;
	padding-left: 0;
	list-style: disc;
}

body#tinymce.wp-editor ol {
	margin-left: 1.5em;
	padding-left: 0;
	list-style: square;
}

body#tinymce.wp-editor ul ul {
	list-style: circle;
}

body#tinymce.wp-editor ul ul ul {
	list-style: square;
}

body#tinymce.wp-editor ol ol {
	list-style: lower-alpha;
}

body#tinymce.wp-editor ol ol ol {
	list-style: lower-roman;
}

body#tinymce.wp-editor ul ul,
body#tinymce.wp-editor ul ol,
body#tinymce.wp-editor ol ul,
body#tinymce.wp-editor ol ol {
	margin-bottom: 0;
}

body#tinymce.wp-editor li {
	line-height: 1.5;
	margin-bottom: 0.5em;
}

body#tinymce.wp-editor ol > li:last-child,
body#tinymce.wp-editor ul > li:last-child {
	margin-bottom: 0;
}

body#tinymce.wp-editor ol > li:first-child,
body#tinymce.wp-editor ul > li:first-child {
	margin-top: 0.5em;
}


/* Post Media -------------------------------- */

body#tinymce.wp-editor .wp-caption {
	margin-bottom: 1.5em;
}

body#tinymce.wp-editor img.alignleft,
body#tinymce.wp-editor .alignleft img,
body#tinymce.wp-editor img.aligncenter,
body#tinymce.wp-editor .aligncenter img,
body#tinymce.wp-editor img.alignright,
body#tinymce.wp-editor .alignright img,
body#tinymce.wp-editor img.alignnone,
body#tinymce.wp-editor .alignnone img {
	display: block;
}

body#tinymce.wp-editor .aligncenter,
body#tinymce.wp-editor .alignnone,
body#tinymce.wp-editor .alignwide,
body#tinymce.wp-editor .alignfull {
	margin: 50px auto;
}

body#tinymce.wp-editor .alignleft,
body#tinymce.wp-editor .alignright {
	margin-bottom: 25px;
	max-width: 50%;
}

body#tinymce.wp-editor .wp-caption img {
	display: block;
}

body#tinymce.wp-editor .wp-caption .alignleft,
body#tinymce.wp-editor .wp-caption .alignright {
	margin-bottom: 0;
}

body#tinymce.wp-editor .alignleft {
	float: left;
	margin-right: 25px;
}

body#tinymce.wp-editor .alignright {
	float: right;
	margin-left: 25px;
}

body#tinymce.wp-editor .wpview[data-wpview-type="gallery"] + .wpview[data-wpview-type="gallery"] {
	margin-top: -34px;
}

body#tinymce.wp-editor .wp-caption-text,
body#tinymce.wp-editor .wp-caption-dd,
body#tinymce.wp-editor .gallery-caption {
	font-size: 14px;
	font-weight: 500;
	margin: 10px 0 0;
}


/* Tables ------------------------------------ */

body#tinymce.wp-editor table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	font-size: 0.9em;
	width: 100%;
}

body#tinymce.wp-editor th,
body#tinymce.wp-editor td {
	border-bottom: 1px solid #e1e1e3;
	line-height: 1.2;
	margin: 0;
	overflow: visible;
	padding: 2%;
}

body#tinymce.wp-editor caption {
	text-align: center;
	padding: 2%;
}

body#tinymce.wp-editor thead {
	vertical-align: bottom;
	white-space: nowrap;
}

body#tinymce.wp-editor th {
	text-align: left;
}

body#tinymce.wp-editor table tbody > tr:nth-child(odd) {
	background: #f1f1f3;
}


/* Forms ------------------------------------- */

body#tinymce.wp-editor fieldset {
	border: 2px solid #e1e1e3;
	padding: 30px;
}

body#tinymce.wp-editor fieldset legend {
	font-size: 0.85em;
	font-weight: 700;
	padding: 0 15px;
}

body#tinymce.wp-editor label {
	display: block;
	font-size: 15px;
	font-weight: 600;
	margin: 0 0 5px 0;
}

body#tinymce.wp-editor input,
body#tinymce.wp-editor select,
body#tinymce.wp-editor textarea {
	border-color: #e1e1e3;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

body#tinymce.wp-editor input[type="text"],
body#tinymce.wp-editor input[type="password"],
body#tinymce.wp-editor input[type="email"],
body#tinymce.wp-editor input[type="url"],
body#tinymce.wp-editor input[type="date"],
body#tinymce.wp-editor input[type="month"],
body#tinymce.wp-editor input[type="time"],
body#tinymce.wp-editor input[type="datetime"],
body#tinymce.wp-editor input[type="datetime-local"],
body#tinymce.wp-editor input[type="week"],
body#tinymce.wp-editor input[type="number"],
body#tinymce.wp-editor input[type="search"],
body#tinymce.wp-editor input[type="tel"],
body#tinymce.wp-editor input[type="color"],
body#tinymce.wp-editor select,
body#tinymce.wp-editor textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	border-radius: 3px;
	border-style: solid;
	border-width: 0.1rem;
	box-shadow: none;
	display: block;
	font-size: inherit;
	font-weight: 400;
	margin: 0;
	max-width: 100%;
	outline: none;
	padding: 13.5px 18px;
	width: 100%;
	word-break: normal;
}

body#tinymce.wp-editor textarea {
	height: 200px;
	line-height: 1.5;
	width: 100%;
}

body#tinymce.wp-editor input[type="text"]:focus,
body#tinymce.wp-editor input[type="tel"]:focus,
body#tinymce.wp-editor input[type="url"]:focus,
body#tinymce.wp-editor input[type="password"]:focus,
body#tinymce.wp-editor textarea:focus {
	outline: none;
}

body#tinymce.wp-editor select {
	background-position: calc(100% - 20px) center;
	background-size: 14px 8.5px;
	padding-right: 40px;
	position: relative;
}

body#tinymce.wp-editor button,
body#tinymce.wp-editor .faux-button,
body#tinymce.wp-editor input[type="button"],
body#tinymce.wp-editor input[type="reset"],
body#tinymce.wp-editor input[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #cd2653;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.1;
	margin: 0;
	outline: none;
	padding: 1.25em 1.75em;
	text-align: center;
	text-decoration: none;
}

body#tinymce.wp-editor button:hover,
body#tinymce.wp-editor .faux-button:hover,
body#tinymce.wp-editor input[type="button"]:hover,
body#tinymce.wp-editor input[type="reset"]:hover,
body#tinymce.wp-editor input[type="submit"]:hover,
body#tinymce.wp-editor button:focus,
body#tinymce.wp-editor .faux-button:focus,
body#tinymce.wp-editor input[type="button"]:focus,
body#tinymce.wp-editor input[type="reset"]:focus,
body#tinymce.wp-editor input[type="submit"]:focus {
	text-decoration: underline;
}
